@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GoshaSans-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/PPGoshaSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "GoshaSans-Ultrabold";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/PPGoshaSans-Ultrabold.woff2") format("woff2");
}

:root {
  --background: #000000;
  --foreground: #ffff00;
  --accent: #ffff00;
  --accent-foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "GoshaSans-Regular", ui-sans-serif, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
